@charset "utf-8";

/* 施術 */
#sejutsu {
	background: #FFFBE6;
}

#sejutsu_box {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 88vh;
}

#sejutsu_box:nth-of-type(2n) {
	flex-direction: row-reverse;
}

#sejutsu_box:nth-of-type(2),#sejutsu_box:nth-of-type(3) {
	height: 70vh;
}

.sejutsu_section {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.sejutsu_section h3 {
	font-size: 2.3rem;
	margin-bottom: 4%;
}

.sejutsu_description {
	font-size: 1.2rem;
	margin-bottom: 4%;
}

.sejutsu_description:last-child {
	margin-bottom: 0;
}

#hogushi_image {
	aspect-ratio: 1 / 1;
	height: 100%;
	background-image: url(../images/sejutsu/hogushi.jpg);
	background-size: cover;
	background-position: 50% 0;
}

#hitorihitori_image {
	aspect-ratio: 1.4 / 1;
	height: 100%;
	background-image: url(../images/sejutsu/hitorihitori.jpg);
	background-size: 150%;
	background-position: 50% 0;
}

#selfcare_image {
	aspect-ratio: 1.5 / 1;
	height: 100%;
	background-image: url(../images/sejutsu/selfcare.jpg);
	background-size: 130%;
	background-position: 40% 0;
}

/* 料金 */
#ryoukin {
	background: #7B5544;
}