@charset "utf-8";

/* 症状一覧 */
#syoujou_contents {
	width: 78%;
	margin: 0 auto;
	padding: 2% 0 7%;
}

#syoujou_contents h2 {
	font-size: clamp(1.5rem, 2.5vw, 2.2rem);
}

#syoujou_body_box {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 75vh;
	margin: 3% auto 0;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
	#syoujou_body_box {
		height: 40vh;
		width: 98%;
	}
}

.square_point {
	margin-right: 2%;
}

.dot_text h3 {
	font-size: clamp(1.3rem, 2.1vw, 1.8rem);
	text-wrap: nowrap;
}

#syoujou_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#syoujou_text p {
	font-size: clamp(0.9rem, 1.5vw, 1.2rem);
	margin-top: 1%;
}

#body {
	height: 100%;
}

#body img {
	height: 100%;
}

/* ぜひご来院ください */
#kaizen_tedasuke {
	display: flex;
}

#kaizen_text_bg {
	width: 65vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6% 0 6%;
}

#image_kaizen {
	width: 35vw;
	background-image: url(../images/syoujou/kaizen_tedasuke.jpg);
	background-size: cover;
	background-position: 35%, 0;
}

#kaizen_text {
	width: 51vw;
	margin-bottom: 5%;
}

#kaizen_text h3 {
	font-size: clamp(1rem, 1.9vw, 1.6rem);
	margin-bottom: 7%;
}

.kaizen_description {
	font-size: clamp(0.8rem, 1.3vw, 1.1rem);
}