@charset "utf-8";

/* 症状一覧 */
#syoujou_contents {
	width: 78%;
	margin: 0 auto;
	padding: 2% 0 7%;
}

#syoujou_contents h2 {
	font-size: 2.2rem;
}

#syoujou_body_box {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 75vh;
	margin: 3% auto 0;
}

.square_point {
	margin-right: 2%;
}

.dot_text h3 {
	font-size: 1.8rem;
	text-wrap: nowrap;
}

#syoujou_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#syoujou_text p {
	font-size: clamp(1.1rem, 1.3vw, 1.2rem);
	margin-top: 1%;
}

#body {
	height: 100%;
}

#body img {
	height: 100%;
}

/* ぜひご来院ください */
#kaizen_tedasuke {
	display: flex;
}

#kaizen_text_bg {
	width: 65vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6% 0 6%;
}

#image_kaizen {
	width: 35vw;
	background-image: url(../images/syoujou/kaizen_tedasuke.jpg);
	background-size: 140%;
	background-position: 35%, 0;
}

#kaizen_text {
	width: 51vw;
	margin-bottom: 5%;
}

#kaizen_text h3 {
	font-size: 1.6rem;
	margin-bottom: 7%;
}

.kaizen_description {
	font-size: 1.1rem;
}